APP_NAME="IAProg"
APP_ENV=production
APP_URL=https://edvar.pro.br/algoia
APP_DEBUG=false

DB_HOST=localhost
DB_DATABASE=seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

OPENAI_API_KEY=sua_chave_openai_aqui

SEED_TEACHER_NAME="Professor Admin"
SEED_TEACHER_EMAIL=admin@seudominio.com.br
SEED_TEACHER_PASSWORD=TrocaEsta123!
